<form action='/users' method='post'>
    Name: <input type='text' name='name'>
    Email: <input type='text' name='email'>
    <input type='submit' value='create user'>
</form><br>

<form action='/users/1' method='get'>
    <input type='submit' value='User 1'>
</form>

<form action='/users/2' method='get'>
    <input type='submit' value='User 2'>
</form>

<form action='/users/3' method='get'>
    <input type='submit' value='User 3'>
</form>
